@media (prefers-color-scheme: light) {
  .iconAlt {
    color: var(--color-label-lm);
  }

  .description img.avatar {
    box-shadow: var(--shadow-lm);
    border: var(--border-dark-1);
  }

  .featureSection {
    background-color: var(--color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .iconAlt {
    color: var(--color-label-dm);
  }

  .description img.avatar {
    box-shadow: var(--shadow-dm);
    border: var(--border-light);
  }

  .featureSection {
    background-color: var(--color-shade-dm);
  }
}

.cols {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-small) !important;
}

.card .cols div {
  width: 100%;
  padding-right: var(--spacing-base);
}

.cols div:first-of-type {
  padding-right: var(--spacing-xlarge);
}

.cols ul li:last-of-type {
  margin-bottom: 0;
}

.cols ul {
  margin-bottom: 0;
}

.featureSection .featureGroup {
  margin-top: 0;
}

.featureSection h3 + .featureGroup {
  margin-top: var(--spacing-large);
}

.group {
  display: flex;
  margin: var(--spacing-xxlarge) 0;
}

article {
  margin: calc(var(--spacing-xxlarge) * 1.5) 0;
}

.group:first-of-type {
  margin-top: var(--spacing-base);
}

.wrapper .group:last-of-type {
  margin-bottom: 0;
}

.group:only-of-type {
  margin-bottom: 0;
  margin-top: 0;
}

.group .description {
  padding: 0 var(--spacing-large) 0 0;
  margin: 0 !important;
  width: 50%;
  display: flex;
  flex: 1 0 0;
  align-self: stretch;
}

.group img {
  width: 50%;
  margin: 0;
  display: flex;
  align-self: center;
}

.description img {
  max-width: 640px;
}

.group.blockContent {
  flex-direction: row;
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--spacing-medium) 0;
}

.description.flip {
  order: 2;
  padding: 0 0 0 2rem;
}

.description h3,
.description h4,
.description h5,
.description h6 {
  margin: 0;
  width: 66%;
}

.description p {
  margin: var(--spacing-small) 0;
}

.description .icon {
  width: auto;
  height: var(--size-project-icon);
  margin: 0 0 var(--spacing-base) 0;
  border-radius: var(--radius-soft);
  align-self: start;
  background-size: cover;
}

.iconLarge {
  height: calc(var(--size-project-icon) * 1.25) !important;
}

.iconAlt {
  font-weight: bold;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  margin: 0 0 var(--spacing-base) 0 !important;
}

.center .description .icon {
  margin: 0 auto var(--spacing-base) auto;
}

.description ul {
  list-style: none;
  margin-left: 0;
  margin-top: var(--spacing-base);
  font-size: var(--font-size-small) !important;
}

img.avatar {
  height: var(--size-avatar);
  width: var(--size-avatar) !important;
  border-radius: var(--radius-round);
}

img.avatarLg {
  height: calc(var(--size-avatar) * 2);
  width: calc(var(--size-avatar) * 2) !important;
}

.card .description img.avatar {
  width: calc(var(--spacing-xxlarge) * 1.5) !important;
  height: calc(var(--spacing-xxlarge) * 1.5) !important;
}

.groupRow {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
}

.group .description h3,
.group .description h4,
.group .description h5,
.group .description h6 {
  width: 100%;
}

.groupRow .description h3,
.groupRow .description h4,
.groupRow .description h5,
.groupRow .description h6 {
  width: 100%;
}

.groupRow .description h4 {
  width: 100%;
}

.groupRow .description {
    padding: 0 var(--spacing-base);
    justify-content: flex-start;
    flex: 1 1 0px;
}

.groupRow .description img ~ .iconAlt {
  margin-top: var(--spacing-small) !important;
}

.mobileImageContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}

.mobileImageContainer img {
  width: 75%;
  height: auto;
}

.featureSection {
  text-align: center;
}

.featureSection h3 {
  width: 100%;
}

.featureGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureGroup .description {
  padding-right: 0;
  text-align: center;
  width: 100%;
  align-items: center;
}

.featureSection .wrapper h3 > .group.featureGroup {
  margin-top: 0;
}

.featureGroup .description img {
  max-width: 768px;
}

.featureGroup img:not(.icon) {
  width: 100% !important;
  max-width: 768px;
  margin-top: var(--spacing-medium) !important;

}

.featureGroup .description .icon {
  align-self: start !important;
}

.team .group {
    margin: var(--spacing-xlarge) 0;  
}

@media only screen and (max-width: 1024px) {
  .description h3,
  .description h4,
  .description h5,
  .description h6 {
    width: 80%;
  }

.group, article {
    margin: var(--spacing-xlarge) 0;
  }

  .groupRow .description h4 {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {
.group {
    flex-direction: column;
  }

 .group, .team .group {
    margin: var(--spacing-large) 0;  
}

  article {
    margin: var(--spacing-large) 0;
  }

  .group .description {
    padding: 0;
    margin: var(--spacing-medium) 0;
    width: auto;
  }

  .group img {
    width: 100%;
    margin: var(--spacing-base) 0 0 0;
  }

  .mobileImageContainer {
    width: 100%;
    justify-content: flex-start;
  }


  .mobileImageContainer img {
    width: 66%;
  }

  .description {
    padding: 0;
  }

  .description.flip {
    padding: 0;
    order: initial;
  }

  .team .description {
    order: 1 !important;
    align-items: center;
  }

  .team h3, .team .description h4 {
    text-align: center;
    width: 100%;
  }

  .team .group img.avatar {
    margin-bottom: var(--spacing-medium) !important;
  }

  img.avatarLg {
  height: calc(var(--size-avatar) * 1.5);
  width: calc(var(--size-avatar) * 1.5) !important;
  }

  .groupRow {
    flex-direction: column;
    margin: 0;
  }

  .groupRow .description {
    padding: 0;
  }

  .description h3,
  .description h4,
  .description h5,
  .description h6 {
    margin: 0;
    width: 100%;
  }

  .groupRow .description:first-of-type {
      padding: 0;
  }

  .groupRow .description:last-of-type {
      padding: 0;
  }

  .featureSection {
    padding-top: calc(var(--spacing-xxlarge) * 1) !important;
    padding-bottom: calc(var(--spacing-xxlarge) * 1) !important;
  }

 .cardSection h3 + h4 {
    margin-top: 2rem !important;
  }
}

@media only screen and (max-width: 640px) {
  .mobileImageContainer img {
    width: 100%;
  }

  img.avatarLg {
    height: var(--size-avatar);
    width: var(--size-avatar) !important;
  }

}
