<section id="#" class="content minimalContent itemContent wrapper">
	<h2>Contact</h2>
	<div class="contentItem noImage">
		<div class="description">
			<p class="emoji">✌️</p>
			<p>Use this for a contact section where you'll need to content out the channels where you can be reached.</p>
			<ul>
				<li><span class="icon placeholder"></span><a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/contact/html/contact.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a></li>
				<li><span class="icon placeholder"></span><a href="#" rel="noopener noreferrer nofollow" target="_blank">Contact Link</a></li>
				<li><span class="icon placeholder"></span><a href="#" rel="noopener noreferrer nofollow" target="_blank">Contact Link</a></li>
			</ul>
		</div>
	</div>
</section>
