<header class="appHeader">
	<a href="#navigation" class="assistiveText">Skip to Navigation</a>
	<a href="#content" class="assistiveText">Skip to Main Content</a>
	<div class="wrapper">
		<div class="logoMark emptyLogo"></div>
		<h1 class="logo"><a href="#" >Simple Design System</a></h1>
		<nav id="navigation">
			<a role="button" class="navButton withUtil" tabindex="0">
				<div class="menu"></div>
			</a>
			<ul>
				<li><a role="button" class="btn primaryBtn" href="https://github.com/glenn-sorrentino/design-system" rel="noopener noreferrer nofollow" target="_blank">Download Files</a></li>
			</ul>
			<a role="button" class="utilityIcon" tabindex="0">🧰</a>
		</nav>
		<nav id="navigation" class="staged">
			<a role="button" class="navButton closeButton" tabindex="0">
				<div class="close"></div>
			</a>
			<ul>
				<li><a role="button" class="btn primaryBtn" href="https://github.com/glenn-sorrentino/design-system" rel="noopener noreferrer nofollow" target="_blank">Download Files</a></li>
			</ul>
		</nav>
	</div>
</header>
