<section class="pinnedList">
  <div class="userName">
    <label for="user-name">Username</label>
    <input type="text" id="user-name" value="🦒 Curious Giraffe">
  </div>
  <div class="card">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>Melissa Lopez</p>
      <p>Did you see how much @Snowden's NFT went for?</p>
      <p class="meta">Now</p>
    </div>
  </div>
  <div class="card">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>Susan Newman</p>
      <p>The new build is ready!</p>
      <p class="meta">1 min</p>
    </div>
  </div>
  <div class="card">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>🦡 Angry Badger</p>
      <p>I'm on my way to the city. Do you need anything?</p>
      <p class="meta">5 mins</p>
    </div>
  </div>
  <div class="card selected">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>Art Vandelay</p>
      <p>You're considering hiring me for your latex salesman.</p>
      <p class="meta">Yesterday</p>
    </div>
  </div>
  <div class="card">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>Cookie</p>
      <p>Pick me up something from the store</p>
      <p class="meta">2 days</p>
    </div>
  </div>
  <div class="card">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>🦒 Curious Giraffe (you)</p>
      <p>Feel like going camping this weekend? Midpines is looking open!</p>
      <p class="meta">Jan 1</p>
    </div>
  </div>
  <div class="card">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>Willy Bo</p>
      <p>Call me when you wake up!</p>
      <p class="meta">Dec 31, 2020</p>
    </div>
  </div>
  <div class="card">
    <img class="listAvatar" src="assets/placeholder/circle.svg">
    <div class="cardMeta">
      <p>Carlos</p>
      <p>I'll be in the neighborhood tomorrow! I'll stop by! </p>
      <p class="meta">Nov 2, 2020</p>
    </div>
  </div>
</section> <!-- END PINNED LIST -->
