<section class="intro secondaryIntro articleIntro">
  <div class="wrapper">
    <p class="meta category"><a href="#">Category</a></p>
    <h2>Concise, Keyword-Leading Heading</h2>
    <p class="meta"><a href="https://en.wikipedia.org/wiki/Anselme_Bellegarrigue" rel="noopener noreferrer nofollow" target="_blank">Anselme Bellegarrigue</a>, 23 March 1813</p>
  </div>
  <div class="tabs wrapper">
    <nav>
      <ul>
        <li><a href="#References">References</a></li>
        <li><a href="#publisher">Publisher Information</a></li>
        <li><a href="#About">About the Author</a></li>
      </ul>
    </nav>
  </div>
</section>
