@media (prefers-color-scheme: light) {
  .intro {
    background-color: var(--color-light);
  }

  p.hint {
    color: var(--color-label-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .intro {
    background-color: var(--color-shade-dm);
  }

  p.hint {
    color: var(--color-label-dm);
  }
}

.intro {
  min-height: 100vh;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.privIntro .wrapper {
  align-items: flex-start;
  padding-top: 12.5rem;
  padding-bottom: 10rem;
}

.intro h2 {
  width: 50%;
  line-height: var(--line-height-tighter);
  margin-top: 0 !important;
}

.privIntro h2,
.privIntro p {
  width: 100%;
}

.intro img {
  position: absolute;
  right: -250px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 768px;
  width: 100%;
  margin-bottom: 0;
}

.intro .btn {
  margin-top: var(--spacing-medium);
}

.articleIntro .category + h2 {
  margin-top: var(--spacing-base) !important;
}

.intro .tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0 !important;
  margin: 0 auto;
  padding: 0 var(--spacing-base);
  transition: .3s;
  max-width: calc(1280px + var(--spacing-base) * 2);
}

.intro p:first-of-type {
  margin-top: 0;
  width: 50%;
}

.intro p:last-of-type {
  margin-bottom: 0;
}

.intro .toggleContainer {
  margin-bottom: 0;
}

.secondaryIntro {
  height: 80vh;
  max-height: 639px;
}

.secondaryIntro + section h3 {
  margin-top: var(--spacing-medium) !important;
}

.secondaryIntro + article h3:first-of-type {
  margin-top: 0 !important;
}

.secondaryIntro + article .highlights h3 {
  margin-top: 0 !important;
}

p.hint {
  position: absolute;
  bottom: var(--spacing-base);
  margin-bottom: 0 !important;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: var(--font-size-xsmall) !important;
  animation: floating 3s ease infinite;
  max-width: max-content !important;
  transition: .3s;
  font-family: 'Sans Bold';
}

p.hint a {
  text-decoration: none;
}

.fade {
  opacity: 0 !important;
}

@media only screen and (max-width: 1280px) {
  .intro img {
    max-width: 700px;
  }
}

@media only screen and (max-width: 1024px) {
  .intro img {
    right: -250px;
    max-width: 640px;
}

@media only screen and (max-width: 960px) {
  .intro img {
    right: -350px;
  }

  .intro {
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .intro img {
    position: relative;
    right: initial;
    top: initial;
    transform: initial;
    bottom: 0;
    margin-top: 12.5rem;
  }

  .privIntro .wrapper,
  .intro .wrapper {
    padding-top: 12.5rem;
  }

  .intro {
    align-items: flex-start;
  }

  .intro h2 {
    width: 100%;
  }

  .intro .tabs {
    padding: 0 var(--spacing-small);
  }

  .intro p {
    width: 100% !important;
  }
}
