@media (prefers-color-scheme: light) {
  .logoMark {
    background-image: url('../assets/logo/lm-logo-onionshare.png');
  }

  .primaryBtn {
    background-color: rgba(78, 13, 78, 1);
  }

  .primaryBtn:hover {
    background-color: rgba(57, 9, 57);
  }

  .btn {
    color: rgba(78, 13, 78, 1);
  }

  .btn:hover {
    color: rgba(78, 13, 78, 1);
  }

  .outgoing p:first-of-type {
    background-color: rgba(78, 13, 78, 1);
  }

  .pinnedList tr.selected {
    border-left: 3px solid rgba(78, 13, 78, 1);
  }

  .tabs a.selected {
    border-bottom: 3px solid rgba(78, 13, 78, 1) !important;
  }

  .tabs a:hover {
    border-bottom: 3px solid rgba(78, 13, 78, 1);
  }
}

@media (prefers-color-scheme: dark) {
  .logoMark {
    background-image: url('../assets/logo/dm-logo-onionshare.png');
  }
}

body {
  transition: none !important;
}

.pinnedList .card {
  pointer-events: none;
}
