@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZmOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJVRROVH9Vvc8xHnAGvvgPQc.woff) format('woff');
}

body{
  background-color: #eee;
}

a:link, a:visited {
  color: #1C25A6;
  text-decoration: none;
}
a:hover, a:active {
  color: #4048BD;
  text-decoration: none;
}

a#small{
  font-size: 10px;
}

a#mirror{
  font-size: 12px;
}

img#fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#wrapper {
  padding: 20px;
  font-family: 'Roboto Slab';
}

#header-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #999;
}
#header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
#header #logo {
  text-align: center;
}
#header #logo img {
  width: 70%;
  max-width: 300px;
}
#header #slogan {
  margin-top: 20px;
  font-size: 22px;
  color: #4c4c4c;
  font-family: serif;
}

#verify-more-link {
  cursor: pointer;
  background-color: #333333;
  color: #ffffff;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
}

#news {
  clear: left;
}
#news ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#news ul li {
  margin: 0 0 20px 0;
  padding: 0;
}

#footer {
  border-top: 1px solid #999;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666666;
  font-size: 12px;
}

.clear {
  clear: both;
}
.lang {
  text-align: left;
  font-size: 10pt;
}
.lang a {
  text-decoration: none;
  margin: 1px;
}
.lang a:hover {
  color: #4048BD;
  text-decoration: none;
}


@media (min-width: 768px) {
  img#fork {
    width: 149px;
    height: 149px;
  }

  #wrapper {
    max-width: 900px;
    margin: 0 auto;
  }

  #header {
    max-width: 900px;
    margin: 0 auto;
  }

  #header #logo {
    float: left;
    margin-right: 40px;
  }
  #header #logo img {
    width: 150px;
    height: 150px;
  }
  #header #slogan {
    margin-top: 20px;
    margin-right: 100px;
    height: 150px;
    vertical-align: middle;
    display: table-cell;
  }

  #content {
    float: left;
    width: 70%;
  }

  #sidebar {
    float: left;
    width: 28%;
    margin-left: 2%;
  }

  .lang {
    text-align: right;
    font-size: 10pt;
  }
}