@media (prefers-color-scheme: light) {
  ::selection {
      background-color: rgba(78, 13, 78, 1);;
      color: var(--color-light);
  }

  :focus {
    outline-color: rgba(78, 13, 78, 1) !important;
  }

  input {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: var(--border-dark);
  }

  input[type="search"] {
    background-image: url("../../design-system/images/input/icon-search-lm.png");
  }

  a {
    color: var(--color-dark);
  }

  body {
    background-color: rgba(78, 13, 78, .04);
  }

  ol, ul, dl {
    color: var(--color-dark);
  }
}

@media (prefers-color-scheme: dark) {
  ::selection {
      background-color: var(--color-light);
      color: var(--color-dark);
  }

  body {
    background-color: var(--color-dark);
  }

  input {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: var(--border-light-1);
  }

  label {
   color: var(--color-light);
  }

  input[type="search"] {
    background-image: url("../../design-system/images/input/icon-search-dm.png");
  }

  a {
    color: var(--color-light);
  }

  ol, ul, dl {
    color: var(--color-light);
  }
}

:focus {
  text-decoration: underline;
  outline: solid;
}

.btn:focus {
  text-decoration: underline;
  outline: solid;
}

.hidden {
  display: none !important;
}

input {
  padding: var(--spacing-base);
  font-size: var(--font-size-body);
  max-width: 480px;
  width: 100%;
  border-radius: var(--radius-soft);
  font-family: 'Sans';
}

input:focus {
  text-decoration: none;
}

input[type="search"] {
  background-size: 1.25rem;
  background-position: .75rem center;
  background-repeat: no-repeat;
  padding-left: calc(var(--spacing-xlarge) * .85);
}

label + input {
  margin-top: var(--spacing-small);
}

input + .btn {
  margin-top: var(--spacing-medium);
}

.label {
  font-family: 'Sans Bold';
}

label {
  font-family: 'Sans Bold';
  font-size: var(--font-size-small) !important;
}

input + label {
  margin-top: var(--spacing-medium);
}

html {
  scroll-padding-top: calc(var(--spacing-xxlarge) * 1.5);
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

a {
  cursor: pointer;
}

dl dt, dl dd {
  line-height: var(--line-height-base);
}

p + ul {
  margin-left: var(--spacing-base);
}

ul {
  margin: var(--spacing-small) 0;
}

ul li {
  margin: var(--spacing-base) 0;
  line-height: var(--line-height-base);
}

ul li:first-of-type {
  margin: 0;
}

img {
  margin: var(--spacing-base) 0;
  width: 100%;
}

header, article, section, footer {
  display: flex;
  justify-content: center;
}

.statementContainer, section:not(.intro) {
  padding: calc(var(--spacing-xlarge) * 1.5) 0 var(--spacing-base) 0;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding: 0 var(--spacing-large);
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 var(--spacing-medium);
  }

  .statementContainer, section:not(.intro) {
  padding: var(--spacing-xxlarge) 0 var(--spacing-base) 0;
}

}
