/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

@import url("reset.css");
@import url("variables.css");
@import url("animation.css");
@import url("typography.css");
@import url("../components/button/css/button.css");
/* @import url("firefox.css"); */
@import url("../components/header/css/header.css");
@import url("../components/intro/css/intro.css");
@import url("../components/tabs/css/tabs.css");
@import url("../components/content/css/content.css");
@import url("../components/aside/css/aside.css");
@import url("../components/content/css/cards.css");
@import url("../components/footer/css/footer.css");
@import url("../components/badge/css/badge.css");
@import url("../components/toggle/css/toggle.css");
@import url("../components/banner/css/banner.css");
@import url("../components/statement/css/statement.css");
@import url("../components/article/css/article.css");
@import url("../components/table/css/table.css");
@import url("../components/login/css/login.css");
@import url("base.css");
@import url("../../css/overrides.css");
