:root {
  /* --font-sans: "Sans", Helvetica, Arial, sans-serif; */

  --color-label-lm: rgba(112,112,112,1);
  --color-label-dm: rgba(168,168,168,1);
  --color-light: rgba(255,255,255,1);
  --color-dark: rgba(51,51,51,1);
  --color-light-translucent: rgba(255,255,255,.8);
  --color-dark-translucent: rgba(61,61,61,.8);

  --color-glass-lm: rgba(255,255,255,.8);
  --color-glass-dm: rgba(51,51,51,.9);

  --color-shade-dm: rgba(61,61,61,1);
  --color-shade-lm: rgba(51,51,51,.035);

  --border-dark: 1px solid rgba(0,0,0,0.1);
  --border-dark-1: 1px solid rgba(0,0,0,0.05);
  --border-light: 1px solid rgba(255,255,255,0.1);
  --border-light-1: 1px solid rgba(255,255,255,0.25);

  --spacing-xxsmall: .125rem;
  --spacing-xsmall: .25rem;
  --spacing-small: .5rem;
  --spacing-base: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 3rem;
  --spacing-xxlarge: 4rem;
  --spacing-button-lg: .875rem 1.125rem;
  --spacing-button: 1rem 1.125rem;

  --size-icon-sm: 1rem;
  --size-logo: 2.5rem;
  --size-project-icon: 3rem;
  --size-avatar: 10rem;
  --size-btn-icon: 3rem;

  /* Type Sizes */

  --font-size-xxsmall: .675rem;
  --font-size-xsmall: .825rem;
  --font-size-smaller: .875rem;
  --font-size-small: 1rem;
  --font-size-logo: 1.25rem;
  --font-size-body: 1.125rem;
  --font-size-article: 1.125rem;
  --font-size-1: 4rem;
  --font-size-2: 2.75rem;
  --font-size-3: 2.25rem;
  --font-size-4: 1.875rem;
  --font-size-5: 1.5rem;
  --font-size-6: 1.25rem;

  /* Kerning / Letter Spacing */

  --kern-negative: -0.015625rem;
  --kern-narrow: .0125;
  --kern-medium: .025;
  --kern-open: .05rem;
  --kern-wide: .075rem;

  /* Leading / Line Height */

  --line-height-button: 1;
  --line-height-tighter: 1.2;
  --line-height-tight: 1.3;
  --line-height-base: 1.5;
  --line-height-wide: 1.6;

  --shadow-lm: 0px 10px 20px -10px rgba(78, 13, 78, .15);
  --shadow-lm-tight: 0px 5px 10px -5px rgba(78, 13, 78, .15);
  --shadow-dm: 0px 20px 40px -20px rgba(0,0,0,0.2);

  --radius-soft: .25rem;
  --radius-softer: .5rem;
  --radius-round: 50vw;
}
