<section class="tableContent">
	<div class="listUtilities wrapper">
		<p class="meta">24 items, 5.12GB</p>
	</div>
	<section class="window">
		<table>
			<tr>
				<th>Name</th>
				<th>Size</th>
				<th>Kind</th>
			</tr>
			<tr>
				<td><a href="examples/onionshare/chat.html" rel="noopener noreferrer nofollow" target="_blank">examples/onionshare/chat.html</a></td>
				<td>3KB</td>
				<td>HTML</td>
			</tr>
			<tr>
				<td><a href="examples/onionshare/receive.html" rel="noopener noreferrer nofollow" target="_blank">examples/onionshare/receive.html</a></td>
				<td>3KB</td>
				<td>HTML</td>
			</tr>
			<tr>
				<td><a href="examples/onionshare/share-zero-state.html" rel="noopener noreferrer nofollow" target="_blank">examples/onionshare/share-zero-state.html</a></td>
				<td>1KB</td>
				<td>HTML</td>
			</tr>
			<tr>
				<td><a href="docs/nng-accessible-web-design.pdf">docs/nng-accessible-web-design.pdf</a></td>
				<td>6.5MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="docs/nng-ux-research-cheat-sheet.pdf">docs/nng-ux-research-cheat-sheet.pdf</a></td>
				<td>604KB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="https://glennsorrentino.com/assets/tor/docs/IEEE-SNP-Onion-Binding.pdf">IEEE-SNP-Onion-Binding.pdf</a></td>
				<td>2.5MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="https://glennsorrentino.com/assets/harvard/docs/harvard-new-america-data-privacy.pdf">harvard-new-america-data-privacy.pdf</a></td>
				<td>3.4MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="https://glennsorrentino.com/assets/wef/docs/WEF_Redesigning_Data_Privacy_Report_2020.pdf">WEF_Redesigning_Data_Privacy_Report_2020.pdf</a></td>
				<td>1.4MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >2019-W2.pdf</td>
				<td>120KB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >avatar.png</a></td>
				<td>12KB</td>
				<td>PNG</td>
			</tr>
			<tr>
				<td><a href="#" >index.html</a></td>
				<td>10KB</td>
				<td>HTML</td>
			</tr>
			<tr>
				<td><a href="#" >style.css</a></td>
				<td>210KB</td>
				<td>CSS</td>
			</tr>
			<tr>
				<td><a href="#" >main.js</a></td>
				<td>45KB</td>
				<td>JS</td>
			</tr>
			<tr>
				<td><a href="#" >reset.css</a></td>
				<td>14KB</td>
				<td>CSS</td>
			</tr>
			<tr>
				<td><a href="#" >placeholder.svg</a></td>
				<td>2KB</td>
				<td>SVG</td>
			</tr>
			<tr>
				<td><a href="#" >favicon.ico</a></td>
				<td>1KB</td>
				<td>ICO</td>
			</tr>
			<tr>
				<td><a href="#" >research.pdf</a></td>
				<td>4MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >HPSCAN_20210411172441529_2021-04-11_172529347.pdf</a></td>
				<td>1.1MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >etrade-tax-supplement.pdf</a></td>
				<td>765KB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >development_plans.pdf</a></td>
				<td>11MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >logo.svg</a></td>
				<td>2KB</td>
				<td>SVG</td>
			</tr>
			<tr>
				<td><a href="#" >financial-information-FY23.pdf</a></td>
				<td>874KB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >updated-research.pdf</a></td>
				<td>4.2MB</td>
				<td>PDF</td>
			</tr>
			<tr>
				<td><a href="#" >click-me.exe</a></td>
				<td>1.3MB</td>
				<td>EXE</td>
			</tr>
			<tr>
				<td><a href="#" >operating-instructions.pdf</a></td>
				<td>639KB</td>
				<td>PDF</td>
			</tr>
		</table>
	</section>
</section>
