<section id="#" class="content minimalContent basicContent wrapper">
	<h2>Basic Content</h2>
	<div class="contentItem metadataItem noImage">
		<div class="description">
			<div class="icon placeholder"></div>
			<h3><a href="#" >Metadata</a></h3>
			<p class="meta">US20200097481A1</p>
			<p>A simple content with added metadata for secondary information.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/item-metadata.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
		</div>
	</div>
	<div class="contentItem buttonItem noImage">
		<div class="description">
			<div class="icon placeholder"></div>
			<h3><a href="#" rel="noopener noreferrer nofollow" target="_blank">Button</a></h3>
			<p>Another simple content item that includes a button. Only use one primary button per page, and everywhere else use a secondary button.</p>
			<a role="button" class="btn" href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/button.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
		</div>
	</div>
	<div class="contentItem blockContent simpleItem">
		<div class="description">
			<div class="icon placeholder"></div>
			<h3>Simple</h3>
			<p>On wide viewports this content item appears centered and becomes left-aligned on smaller screens.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/item-simple.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
		</div>
	</div>
	<div class="contentItem centeredContent blockContent centeredItem">
		<div class="description">
			<div class="icon placeholder"></div>
			<p class="parent">Parent</p>
			<h3>Centered</h3>
			<div class="badgeContainer">
				<p class="badge">🎁 Badge 1</p>
				<p class="badge">🎉 Badge 2</p>
				<p class="badge">✌️Badge 3</p>
			</div>
			<p>This content item stays centered on all viewport sizes. You can also include emojis in your badges for a fun presentation.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/item-centered-badges.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
		</div>
	</div>
</section>
