<section class="content centeredContent exampleContent wrapper">
	<h2>In The Wild</h2>
	<div class="contentItem blockContent">
		<div class="description">
			<p class="emoji">🔐</p>
			<h3>Normal Security</h3>
			<p>Easy ways to secure your digital life.</p>
			<a href="https://normalsecurity.com" rel="noopener noreferrer nofollow" target="_blank">View Site</a>
		</div>
		<div class="featureImage">
			<img src="assets/examples/normal-security.png" alt="Normal Security Homepage">
		</div>
	</div>
</section>
