<section class="featureSection">
	<div class="wrapper">
		<h3>Feature Section</h3>
		<div class="group featureGroup">
			<div class="description">
				<img class="icon" src="design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text.">
				<h4>Feature Headline</h4>
				<p>Feature sections place more emphasis on the content you want to highlight.</p>
			</div>
			<img src="design-system/images/placeholder/image.png" alt="Unless the image is decorative, add alt text 1.">
		</div>
	</div>
</section>