<section class="content centeredContent designContent wrapper">
	<h2>Design Resources</h2>
	<div class="contentItem blockContent">
		<div class="description">
			<div class="icon figma"></div>
			<h3>Figma Kit</h3>
			<p>Use the design system and other resources through the Figma kit.</p>
			<a role="button" class="btn" href="https://www.figma.com/file/NAqQuqB1mt4Oix3Sdyhr4L/Simple-Design-System-Kit?node-id=5%3A2362" rel="noopener noreferrer nofollow" target="_blank">Use it Now</a>
		</div>
	</div>
</section>
