<div class="contentItem flippedItem">
	<div class="description flip">
		<p class="parent">Parent</p>
		<h3>Flipped</h3>
		<p>When using multiple standard content components in sequence, you can flip the layout for a more dynamic presentation.</p>
		<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/item-flip.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
	</div>
	<div class="featureImage">
		<img src="assets/placeholder/image.svg" alt="#">
	</div>
</div>
