<div class="contentItem mobileItem">
	<div class="description">
		<div class="icon placeholder"></div>
		<h3>Mobile</h3>
		<div class="badgeContainer">
			<p class="badge">Coming Soon</p>
		</div>
		<p>Use this content when you're showing a mobile screen. Include badges to communicate project status to visitors.</p>
		<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/item-mobile.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
	</div>
	<div class="featureImage mobileImage">
		<img src="assets/placeholder/mobile.svg" alt="#">
	</div>
</div>
