<div class="contentItem centeredContent blockContent">
	<div class="description">
		<p class="parent">Parent</p>
		<div class="icon placeholder"></div>
		<h3>Centered</h3>
		<div class="badgeContainer">
			<p class="badge">🎁 Badge 1</p>
			<p class="badge">🎉 Badge 2</p>
			<p class="badge">✌️Badge 3</p>
		</div>
		<p>This content item stays centered on all viewport sizes. You can also include emojis in your badges for a fun presentation.</p>
		<a href="#" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
	</div>
</div>
