<section class="content wrapper">
	<h2 id="section1">Primary Content</h2>
	<div class="contentItem">
		<div class="description">
			<div class="icon placeholder"></div>
			<h3>Standard Item</h3>
			<p>This is a basic side-by-side layout for a content item.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/item-standard.html" rel="noopener noreferrer nofollow" target="_blank">View Code</a>
		</div>
		<div class="featureImage">
			<img src="assets/placeholder/image.svg" alt="#">
		</div>
	</div>
	<div class="contentItem">
		<div class="description flip">
			<p class="parent">Parent</p>
			<h3>Flipped Standard Item</h3>
			<p>When using multiple standard content components in sequence, you can flip the layout for a more dynamic presentation.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/item-flip.html" rel="noopener noreferrer nofollow" target="_blank">View Code</a>
		</div>
		<div class="featureImage">
			<img src="assets/placeholder/image.svg" alt="#">
		</div>
	</div>
	<div class="contentItem">
		<div class="description">
			<div class="icon placeholder"></div>
			<h3>Mobile Standard Item</h3>
			<div class="badgeContainer">
				<p class="badge">Coming Soon</p>
			</div>
			<p>Use this content when you're showing a mobile screen. Include badges to communicate project status to visitors.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/item-mobile.html" rel="noopener noreferrer nofollow" target="_blank">View Code</a>
		</div>
		<div class="featureImage mobileImage">
			<img src="assets/placeholder/mobile.svg" alt="#">
		</div>
	</div>
	<div class="contentItem blockContent">
		<div class="description">
			<h3>Featured Item</h3>
			<p>This layout puts more prominence on the image being displayed. Use it for high-priority callouts.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/item-featured.html" rel="noopener noreferrer nofollow" target="_blank">View Code</a>
		</div>
		<div class="featureImage">
			<img src="assets/placeholder/image.svg" alt="#">
		</div>
	</div>
	<div class="contentItem blockContent">
		<div class="description">
			<div class="icon placeholder"></div>
			<h3>Center to Left Aligned Item</h3>
			<p>On wide viewports this content item appears centered and becomes left-aligned on smaller screens.</p>
			<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/item-simple-center.html" rel="noopener noreferrer nofollow" target="_blank">View Code</a>
		</div>
	</div>
</section>
