<section class="content centeredContent wrapper">
	<div class="contentItem blockContent">
		<div class="description">
			<h3>Pagination</h3>
			<p>Use this for a step-by-step wizard, pagination for a training guide, or generally when you need more than one call-to-action.</p>
			<a href="#" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			<div class="buttonGroup">
				<a role="button" class="btn" href="editorial.html">Previous</a>
				<a role="button" class="btn" href="index.html">Next</a>
			</div>
		</div>
	</div>
</section>
