<section class="content contentRow secondaryContent wrapper">
	<h2>Secondary Content</h2>
	<div class="contentRowContent">
		<div class="contentItem blockContent">
			<div class="description">
				<h3>Row Item with Images</h3>
				<p>Use this when secondary content needs a supporting image.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/secondary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
			<div class="featureImage">
				<img src="assets/placeholder/image.svg" alt="#">
			</div>
		</div>
		<div class="contentItem blockContent">
			<div class="description">
				<h3>Row Item with Images</h3>
				<p>Use this when secondary content needs a supporting image.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/secondary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
			<div class="featureImage">
				<img src="assets/placeholder/image.svg" alt="#">
			</div>
		</div>
	</div>
</section>
