<section id="#" class="content centeredContent contentRow tertiaryContent wrapper">
	<h2>Tertiary Content</h2>
	<div class="contentRowContent">
		<div class="contentItem blockContent">
			<div class="description">
				<div class="icon placeholder"></div>
				<h3>Row Item</h3>
				<p>For secondary or tertiary content that doesn't need a lot of space.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/tertiary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
		</div>
		<div class="contentItem blockContent">
			<div class="description">
				<p class="emoji">🍄</p>
				<h3>Row Item</h3>
				<p>For secondary or tertiary content that doesn't need a lot of space.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/tertiary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
		</div>
		<div class="contentItem blockContent">
			<div class="description">
				<div class="icon placeholder"></div>
				<h3>Row Item</h3>
				<p>For secondary or tertiary content that doesn't need a lot of space.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/tertiary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
		</div>
	</div>
	<div class="contentRowContent">
		<div class="contentItem blockContent">
			<div class="description">
				<div class="icon placeholder"></div>
				<h3>Row Item</h3>
				<p>For secondary or tertiary content that doesn't need a lot of space.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/tertiary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
		</div>
		<div class="contentItem blockContent">
			<div class="description">
				<div class="icon placeholder"></div>
				<h3>Row Item</h3>
				<p>For secondary or tertiary content that doesn't need a lot of space.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/tertiary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
		</div>
		<div class="contentItem blockContent">
			<div class="description">
				<div class="icon placeholder"></div>
				<h3>Row Item</h3>
				<p>For secondary or tertiary content that doesn't need a lot of space.</p>
				<a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/tertiary.html" rel="noopener noreferrer nofollow" target="_blank">View Component Code</a>
			</div>
		</div>
	</div>
</section>
