<section id="filters">
	<h2>🛠&nbsp;&nbsp;Page Builder</h2>
	<a role="button" class="navButton closeButton" tabindex="0">
		<div class="close"></div>
	</a>
	<fieldset>
		<legend>Themes</legend>
		<div>
			<input type="checkbox" name="format" id="glow-theme" value="txt" autocomplete="off">
			<label for="glow-theme">Glow Theme</label>
		</div>
	</fieldset>

	<!-- PAGE TYPE -->

	<fieldset>
		<legend>Page Type</legend>
		<div>
			<input type="radio" name="format" id="instructions" value="txt" autocomplete="off">
			<label for="instructions">Instructions</label>
		</div>
		<div>
			<input type="radio" name="format" id="home" value="txt" autocomplete="off" checked>
			<label for="home">Home</label>
		</div>
		<div>
			<input type="radio" name="format" id="secondary" value="txt" autocomplete="off">
			<label for="secondary">Secondary</label>
		</div>
		<div>
			<input type="radio" name="format" id="article" value="txt" autocomplete="off">
			<label for="article">Article</label>
		</div>
		<div>
			<input type="radio" name="format" id="table" value="txt" autocomplete="off">
			<label for="table">Table</label>
		</div>
		<div>
			<input type="radio" name="format" id="chat" value="txt" autocomplete="off">
			<label for="chat">Chat</label>
		</div>
	</fieldset>

	<!-- TABLE TYPE -->

	<fieldset id="table-filters" class="hidden">
		<legend>Table States</legend>
		<div>
			<input type="checkbox" name="format" id="empty-table" value="txt" autocomplete="off">
			<label for="empty-table">Empty</label>
		</div>
	</fieldset>

	<!-- HOME PAGE -->

	<fieldset id="home-filters">
		<legend>Home Page Components</legend>
		<div>
			<input type="checkbox" name="format" id="hint" value="txt" autocomplete="off" checked>
			<label for="hint">Scroll Hint</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="statement" value="txt" autocomplete="off" checked>
			<label for="statement">Mission Statement</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="standard-item" autocomplete="off" value="txt" checked>
			<label for="standard-item">Standard</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="flipped-item" autocomplete="off" value="txt" checked>
			<label for="flipped-item">Flipped</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="mobile-item" autocomplete="off" value="txt" checked>
			<label for="mobile-item">Mobile</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="featured-item" autocomplete="off" value="txt" checked>
			<label for="featured-item">Featured</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="primary-content" autocomplete="off" value="txt" checked>
			<label for="primary-content">Primary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-content" autocomplete="off" value="txt" checked>
			<label for="secondary-content">Secondary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="tertiary-content" autocomplete="off" value="txt" checked>
			<label for="tertiary-content">Tertiary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="metadata-item" autocomplete="off" value="txt" checked>
			<label for="metadata-item">Metadata</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="button-item" autocomplete="off" value="txt" checked>
			<label for="button-item">Button</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="simple-item" autocomplete="off" value="txt" checked>
			<label for="simple-item">Simple</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="centered-item" autocomplete="off" value="txt" checked>
			<label for="centered-item">Centered</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="basic-content" autocomplete="off" value="txt" checked>
			<label for="basic-content">Basic Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="item-avatar" autocomplete="off" value="txt" checked>
			<label for="item-avatar">About</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="item-content" autocomplete="off" value="txt" checked>
			<label for="item-content">Contact</label>
		</div>
	</fieldset>

	<!-- SECONDARY PAGE -->

	<fieldset id="secondary-filters" class="hidden">
		<legend>Secondary Page Components</legend>
		<div>
			<input type="checkbox" name="format" id="secondary-nav" value="txt" autocomplete="off" checked>
			<label for="secondary-nav">Secondary Nav</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-standard-item" autocomplete="off" value="txt" checked>
			<label for="secondary-standard-item">Standard</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-flipped-item" autocomplete="off" value="txt" checked>
			<label for="secondary-flipped-item">Flipped</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-mobile-item" autocomplete="off" value="txt" checked>
			<label for="secondary-mobile-item">Mobile</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-featured-item" autocomplete="off" value="txt" checked>
			<label for="secondary-featured-item">Featured</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-primary-content" autocomplete="off" value="txt" checked>
			<label for="secondary-primary-content">Primary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-secondary-content" autocomplete="off" value="txt" checked>
			<label for="secondary-secondary-content">Secondary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-tertiary-content" autocomplete="off" value="txt" checked>
			<label for="secondary-tertiary-content">Tertiary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-metadata-item" autocomplete="off" value="txt" checked>
			<label for="secondary-metadata-item">Metadata</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-button-item" autocomplete="off" value="txt" checked>
			<label for="secondary-button-item">Button</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-simple-item" autocomplete="off" value="txt" checked>
			<label for="secondary-simple-item">Simple</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-centered-item" autocomplete="off" value="txt" checked>
			<label for="secondary-centered-item">Centered</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-basic-content" autocomplete="off" value="txt" checked>
			<label for="secondary-basic-content">Basic Content</label>
		</div>
	</fieldset>

	<!-- ARTICLE PAGE -->

	<fieldset id="article-filters" class="hidden">
		<legend>Article Components</legend>
		<div>
			<input type="checkbox" name="format" id="article-content" value="txt" autocomplete="off" checked>
			<label for="article-content">Article</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="button-group" autocomplete="off" value="txt" checked>
			<label for="button-group">Pagination</label>
		</div>
	</fieldset>

	<!-- CHAT PAGE -->

	<fieldset id="chat-filters" class="hidden">
		<legend>Chat Components</legend>
		<div>
			<input type="checkbox" name="format" id="username" value="txt" autocomplete="off" checked>
			<label for="username">User Name Input</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="avatar" value="txt" autocomplete="off" checked>
			<label for="avatar">Avatar</label>
		</div>
	</fieldset>

</section>
