<section class="tabs chatTabs wrapper">
  <nav>
    <a class="usersTab">Users<p class="badge">1</p></a>
    <a class="chatTab selected">Chat</a>
  </nav>
</section>

<section class="container chatContainer">

  <section class="pinnedList">
    <div class="userName">
      <label for="user-name">Username</label>
      <input type="text" id="user-name" value="🦒 Curious Giraffe">
    </div>
    <div class="card">
      <div class="avatarGroup">
        <div class="presence online"></div>
        <div class="avatarGroup">
          <div class="presence online"></div>
          <img class="listAvatar" src="assets/placeholder/circle.svg">
        </div>
      </div>
      <div class="cardMeta">
        <p>Melissa Lopez</p>
        <p>Did you see how much @Snowden's NFT went for?</p>
        <p class="meta">Now</p>
      </div>
    </div>
    <div class="card">
      <div class="avatarGroup">
        <div class="presence online"></div>
        <img class="listAvatar" src="assets/placeholder/circle.svg">
      </div>
      <div class="cardMeta">
        <p>Susan Newman</p>
        <p>The new build is ready!</p>
        <p class="meta">1 min</p>
      </div>
    </div>
    <div class="card">
      <div class="avatarGroup">
        <div class="presence online"></div>
        <img class="listAvatar" src="assets/placeholder/circle.svg">
      </div>
      <div class="cardMeta">
        <p>🦡 Angry Badger</p>
        <p>I'm on my way to the city. Do you need anything?</p>
        <p class="meta">5 mins</p>
      </div>
    </div>
    <div class="card selected">
      <div class="avatarGroup">
        <div class="presence online"></div>
        <img class="listAvatar" src="assets/placeholder/circle.svg">
      </div>
      <div class="cardMeta">
        <p>Art Vandelay</p>
        <p>You're considering hiring me for your latex salesman.</p>
        <p class="meta">Yesterday</p>
      </div>
    </div>
    <div class="card">
      <div class="avatarGroup">
        <div class="presence online"></div>
        <img class="listAvatar" src="assets/placeholder/circle.svg">
      </div>
      <div class="cardMeta">
        <p>Cookie</p>
        <p>Pick me up something from the store</p>
        <p class="meta">2 days</p>
      </div>
    </div>
    <div class="card">
      <div class="avatarGroup">
        <div class="presence online"></div>
        <img class="listAvatar" src="assets/placeholder/circle.svg">
      </div>
      <div class="cardMeta">
        <p>🦒 Curious Giraffe (you)</p>
        <p>Feel like going camping this weekend? Midpines is looking open!</p>
        <p class="meta">Jan 1</p>
      </div>
    </div>
    <div class="card">
      <div class="avatarGroup">
        <div class="presence offline"></div>
        <img class="listAvatar" src="assets/placeholder/circle.svg">
      </div>
      <div class="cardMeta">
        <p>Willy Bo</p>
        <p>Call me when you wake up!</p>
        <p class="meta">Dec 31, 2020</p>
      </div>
    </div>
    <div class="card">
      <div class="avatarGroup">
        <div class="presence offline"></div>
        <img class="listAvatar" src="assets/placeholder/circle.svg">
      </div>
      <div class="cardMeta">
        <p>Carlos</p>
        <p>I'll be in the neighborhood tomorrow! I'll stop by! </p>
        <p class="meta">Nov 2, 2020</p>
      </div>
    </div>
  </section> <!-- END PINNED LIST -->

  <section class="mainStage">
    <div class="chatHeader">
      <div class="chatHeaderGroup">
        <div class="presence online"></div>
        <p>Art Vandelay</p>
      </div>
    </div>
    <div class="chatWindow">
      <div class="messageRow outgoing">
        <div class="message">
          <p>Have you seen the <a href="https://glenn-sorrentino.github.io/design-system/examples/onionshare/chat.html" rel="noopener noreferrer nofollow" target="_blank">new OnionShare UI</a>?</p>
          <p class="meta">🦡 Angry Badger</p>
        </div>
      </div>
      <div class="messageRow incoming">
        <div class="message">
          <p>Listen closely. I was at the unemployment office and I told them that I was very close
            to getting a job with Vandaley Industries and I gave them your phone number. So, when now when the phone
            rings you've got to answer "Vanadaley Industries".</p>
          <p class="meta">Art Vandelay</p>
        </div>
      </div>
      <div class="messageRow outgoing">
        <div class="message">
          <p>I'm Vandelay Industries?</p>
          <p class="meta">🦡 Angry Badger</p>
        </div>
      </div>
      <div class="messageRow incoming">
        <div class="message">
          <p>Right</p>
          <p class="meta">Art Vandelay</p>
        </div>
      </div>
      <div class="messageRow outgoing">
        <div class="message">
          <p>🙃 And what is that?</p>
          <p class="meta">🦡 Angry Badger</p>
        </div>
      </div>
      <div class="messageRow">
        <div class="chatAlert">
          <p>🦒 Curious Giraffe joined the chat!</p>
        </div>
      </div>
      <div class="messageRow incoming">
        <div class="message">
          <p>You're in latex</p>
          <p class="meta">Art Vandelay</p>
        </div>
      </div>
      <div class="messageRow outgoing">
        <div class="message">
          <p>Latex? And what do I do with latex?</p>
          <p class="meta">🦡 Angry Badger</p>
        </div>
      </div>
      <div class="messageRow incoming">
        <div class="message">
          <p>Ya manufacture it 🏭</p>
          <p class="meta">Art Vandelay</p>
        </div>
      </div>
      <div class="messageRow outgoing">
        <div class="message outgoing">
          <p>😂 And what do I say about you?</p>
          <p class="meta">🦡 Angry Badger</p>
        </div>
      </div>
      <div class="messageRow incoming">
        <div class="message">
          <p>You're considering hiring me for your latex salesman 👔</p>
          <p class="meta">Art Vandelay</p>
        </div>
      </div>
    </div>
    <div class="messageComposer">
      <input type="text" placeholder="Your message...">
    </div>
  </section> <!-- END MAIN STAGE -->

</section>
